# Environment files
.env
venv/
venv311/
__pycache__/
*.py[cod]
*.pyo
*.log
*.sqlite*
*.db
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.vscode/
*.env.*
/tests/__pycache__/

# Project files
models/
vosk_models/
.cache/
.huggingface/
**/__pycache__/
*.wav
backend/models_unused/
